<div class="question-detail">
  <p>
    {{model.title}}<br>
    {{model.content}}
  </p>
  <li>{{model.notes}}</li>
  <li>{{model.author}}</li>

</div>
<div id="answers">
  {{#each model.answers as |answer|}}
    {{answer-tile answer=answer}}
  {{/each}}
  {{new-answer question = model saveAnswer="saveAnswer"}}

</div>
<div class="edits">
  {{update-question question = model updateQuestion="updateQuestion"}}
  <button {{action 'delete' question}}>Delete this question</button>
</div>
