<div class="question-detail">
  <div class="question-detail-content">
    <h3>{{model.title}}</h3>
    <p>

      {{model.content}}
    </p>
    <li>Notes:{{model.notes}}</li>
    <li>From: {{model.author}}</li>
    <div id="answers">
      <h3>Answers:</h3>
      {{#each model.answers as |answer|}}
        {{answer-tile answer=answer}}
      {{/each}}


    </div>
    <div class="edits cf">
      {{update-question question = model updateQuestion="updateQuestion"}}
      <button {{action 'delete' model}}>Delete this question</button>
      {{new-answer question = model saveAnswer="saveAnswer"}}
    </div>
  </div>



</div>
