<div class="question-detail">
  <div class="question-detail-content">
    <h3>{{model.title}}</h3>
    <p>

      {{model.content}}
    </p>
    <li>Notes:{{model.notes}}</li>
    <li>From: {{model.author}}</li>
    <div id="answers">
      {{#each model.answers as |answer|}}
        {{answer-tile answer=answer}}
      {{/each}}
      {{new-answer question = model saveAnswer="saveAnswer"}}

    </div>
    <div class="edits">
      {{update-question question = model updateQuestion="updateQuestion"}}
      <button {{action 'delete' question}}>Delete this question</button>
    </div>
  </div>



</div>
